div.container {width:100%;}
body { font-family:verdana; font-size: 15Px; width:1100px; margin: 0px auto; padding-bottom: 15px;}
h1.Page_Heading {text-align:center; font-weight:bold; font-size: 25Px}
div.info_seg { padding-bottom: 10px;}
h3.info_segL {padding-top: 6px;}
footer {text-align: center; padding-bottom: 15px; font-size: 10px;}
span.Mid_info {font-weight:bold;}
img.head_lg {float:left;}
h2 {font-size: 20Px;}
h3 {font-size: 18Px;}
a.MenuItem {float:right;clear:right;}
