div.Container {width:100%}
div.HeaderDiv {padding-top: 20px; padding-bottom: 15px; padding-right: 60px; padding-left: 60px;}
body { font-family:verdana; font-size: 15Px; width:100%;background-color: #ffffff}
h1.Page_Heading {font-weight:bold; font-size: 25Px; display:inline; padding-left: 200px;}
div.info_seg { padding-bottom: 10px; padding-right: 60px; padding-left: 60px;}
h3.info_segL {padding-top: 6px;}
footer { padding-bottom: 50px; height:80px; padding-right: 60px; padding-left: 60px; font-size:10Px; padding-top: 70px}
span.Mid_info {font-weight:bold;}
img.head_lg {float:left;}
h2 {font-size: 20Px;}
h3 {font-size: 18Px;}
a.MenuItem {float:right; display:inline; padding-top: 3px; cursor:pointer;}
img.Small_Btn:hover
{
  opacity:0.5;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out; }
div.Left_footer {float:left; clear:left;}
div.Middle_footer {float:left; padding-left: 250px; padding-top:40px;}
